
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>shahan</title>
    <script src="~/app-assets/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

           
        });
        function getlength() {
            alert($("#txt").val().length);
        }
    </script>
</head>
<body>
    <div> 
        <textarea id="txt"></textarea>
        <input type="button" onclick="getlength()" />
    </div>
</body>
</html>
